@model Funda.Models.HomeViewModel

    <div id="js-home">
        <div id="js-agent-list">
            Loading...
        </div>

        <div id="js-agent-garden-list">
            Loading...
        </div>
    </div>
